<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>JUST RACE</title>
    <link rel="icon" href="./logo/title_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css_file/book.css">
    <script type="text/javascript" src="./plugins/aos.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css'>
    <link rel="stylesheet" href="css_file/aos.css">

    <body>
        <div id="container">
            <header id="main_header">
                <nav class="main_nav">
                    <a href="./index.html" class="logo_img">
                        <img src="./logo/logo_img.png" class="logo"></a>
                    <a href="#" class="showmenu">menu</a>
                    <ul class="link_list">
                        <li><a class="d_e" href="./driving_experience.html">Driving Experience</a></li>
                        <li><a class="o_f" href="./just_race_fleet.html">Our Fleet</a></li>
                        <li><a class="t_p" href="./track_preview.html">Track Preview </a></li>
                        <li><a class="about" href="./about.html">About</a></li>
                        <li><a class="b_n" href="./book.html">Book Now</a></li>
                    </ul>
                    <ul class="hiden_list">
                        <li><a class="d_e" href="./driving_experience.html">Driving Experience.</a></li>
                        <li><a class="o_f" href="./just_race_fleet.html">Our Fleet</a></li>
                        <li><a class="t_p" href="./track_preview.html">Track Preview. </a></li>
                        <li><a class="about" href="./about.html">About.</a></li>
                        <li><a class="b_n" href="./book.html">Book Now.</a></li>
                    </ul>
                    <marquee class="alert">
                        <li>
                            <font color="yellow">!</font> Current Track Condition : dry and clean, surface temperature: 12 degrees.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                            <font color="yellow">!</font> COVID-19 AlERT : We’ve cancelled our Track Day and all our Drive experiences for November and anyone booked in will be emailed with an update. We’ll be rescheduling as soon as restrictions are lifted and it’s safe
                            to do so. </li>

                    </marquee>
                </nav>
            </header>

            <div class="pic_container">
                <h1>Just Book!</h1>
                <img src="./book_pics/book_banner.jpg" class="img_flow" data-aos="fade-in" data-aos-duration="800" data-aos-once="true" data-aos-delay="200">
            </div>

            <!-- owl-carousel ---------------------------------------------------------------->
            <div class="step1">
                <div class="banner1">
                    <h1>step1</h1>
                    <h3>Select Your car</h3>
                </div>

                <div id="sync1" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="./book_pics/spec_pic/1advan!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/2amg!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/3c8!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/4gt2!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/5gt3!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/6gtr!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/7performante!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/8pista!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/9f8!.jpg">
                    </div>
                    <div class="item">
                        <img src="./book_pics/spec_pic/10vantage!.jpg">
                    </div>

                </div>

                <div id="sync2" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="./book_pics/step1/1adven.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/2amg.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/3c8.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/4gt2rs.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/5gt3.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/6gtr.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/7performante.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/8pista.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/9tributo.png">
                    </div>
                    <div class="item">
                        <img src="./book_pics/step1/10vantage.png">
                    </div>
                </div>
                <div class="price"><label for="count">number of laps:</label><input type="number" id="count" style="font-size:1.3vw" placeholder="5"></div>
            </div>
            <!-- owl-carousel ---------------------------------------------------------------->
            <div class="step2">
                <div class="banner2">
                    <h1>step2</h1>
                    <h3>choose Your date</h3>
                </div>
                <div class="select_later">
                    <input type="checkbox" id="later">
                    <label for="vehicle1">Select later</label><br>
                    <p>We strongly recommend making a reservation prior to arrival. Walk-ins are welcome but will often experience an extended wait time depending on the chosen vehicle selection.</p>
                </div>
                <!-- <date-picker-------------------------------------------------->
                <div class="app-container" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>

                    <div date-picker datepicker-title="Select Date" picktime="true" pickdate="true" pickpast="false" mondayfirst="false" custom-message="You have selected" selecteddate="ctrl.selected_date" updatefn="ctrl.updateDate(newdate)">

                        <div class="datepicker" ng-class="{
                    'am': timeframe == 'am',
                    'pm': timeframe == 'pm',
                    'compact': compact
                   }">
                            <div class="datepicker-header">
                                <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
                                <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
                            </div>
                            <div class="datepicker-calendar">
                                <div class="calendar-header">
                                    <div class="goback" ng-click="moveBack()" ng-if="pickdate">
                                        <svg width="30" height="30">
                                <path fill="none" stroke="#D8281C" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
                            </svg>
                                    </div>
                                    <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
                                    <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
                                        <svg width="30" height="30">
                                <path fill="none" stroke="#D8281C" stroke-width="3" d="M11,6 l9,9 l-9,9" />
                            </svg>
                                    </div>
                                </div>
                                <div class="calendar-day-header">
                                    <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
                                </div>
                                <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
                                    <div ng-class="{'no-hover': !day.showday}" ng-repeat="day in month" class="datecontainer" ng-style="{'margin-left': calcOffset(day, $index)}" track by $index>
                                        <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
                                            {{ day.daydate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timepicker" ng-if="picktime == 'true'">
                                <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
                                    <div class="timepicker-container-outer" selectedtime="time" timetravel>
                                        <div class="timepicker-container-inner">
                                            <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                                                <div class="current-time">
                                                    <div class="actual-time">{{ time }}</div>
                                                </div>
                                                <div class="timeline">
                                                </div>
                                                <div class="hours-container">
                                                    <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                                                </div>
                                            </div>
                                            <div class="display-time">
                                                <div class="decrement-time" ng-click="adjustTime('decrease')">
                                                    <svg width="24" height="24">
                                            <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                                        </svg>
                                                </div>
                                                <div class="time" ng-class="{'time-active': edittime.active}">
                                                    <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false" />
                                                    <div class="formatted-time">{{ edittime.formatted }}</div>
                                                </div>
                                                <div class="increment-time" ng-click="adjustTime('increase')">
                                                    <svg width="24" height="24">
                                            <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                                        </svg>
                                                </div>
                                            </div>
                                            <div class="am-pm-container">
                                                <div class="am-pm-button" ng-click="changetime('am');">am</div>
                                                <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons-container">
                                <div class="cancel-button">CANCEL</div>
                                <div class="save-button">SAVE</div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- date_picker_ends------------------------------------------------------------------->

            </div>
            <div class="step3">
                <div class="banner3">
                    <h1>step3</h1>
                    <h3>Driver Information</h3>
                </div>
                <ul class="info">
                    <li><input id="count" placeholder="First Name*" style="font-size:1.3vw"></li>
                    <li><input id="count" placeholder="Last Name*" style="font-size:1.3vw"></li>
                    <li><input id="count" placeholder="Phone" style="font-size:1.3vw"></li>
                    <li><input id="count" placeholder="Email*" style="font-size:1.3vw"></li>
                </ul>
                <div class="brtton"><a class="sum" href="#">Book</a></div>
                <img src="./book_pics/reception.png">
                <h6>&nbsp;&nbsp;&nbsp;&nbsp;If you have questions or wish to book with a live person you can reach our customer service representatives at: (702) 2134213213. For large groups of 10 people or more we may be able to open a date that is not currently
                    offered. If you have a potential group event please contact a Group Sales Representative </h6>
            </div>



            <div class="footer">
                <img src="./pictures/banner_img.png" height="3px">
                <h1>© Just Race Limited
                    <h1>
            </div>
        </div>
        <script>
            // $(document).ready(function() {
            //     $('.showmenu').on('click', function(e) {
            //         // e.preventDefault();
            //         $('ul .hiden_list').css('transform', "translate(0%)");
            //     });
            // });
            let showmenu = document.querySelector(".showmenu");
            showmenu.addEventListener("click", function() {
                let hiden_list = document.querySelector(".hiden_list");
                hiden_list.classList.toggle("show");
                // console.log(hiden_list);
            })
        </script>
        <script>
            (function() {

                var doc = document.documentElement;
                var w = window;

                var prevScroll = w.scrollY || doc.scrollTop;
                var curScroll;
                var direction = 0;
                var prevDirection = 0;

                var header = document.getElementById('main_header');

                var checkScroll = function() {

                    /*
                     ** Find the direction of scroll
                     ** 0 - initial, 1 - up, 2 - down
                     */

                    curScroll = w.scrollY || doc.scrollTop;
                    if (curScroll > prevScroll) {
                        //scrolled up
                        direction = 2;
                    } else if (curScroll < prevScroll) {
                        //scrolled down
                        direction = 1;
                    }

                    if (direction !== prevDirection) {
                        toggleHeader(direction, curScroll);
                    }

                    prevScroll = curScroll;
                };

                var toggleHeader = function(direction, curScroll) {
                    if (direction === 2 && curScroll > 52) {

                        //replace 52 with the height of your header in px

                        header.classList.add('hide');
                        prevDirection = direction;
                    } else if (direction === 1) {
                        header.classList.remove('hide');
                        prevDirection = direction;
                    }
                };

                window.addEventListener('scroll', checkScroll);

            })();
        </script>

        <script>
            AOS.init();
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js'></script>
        <script src="./plugins/bookowl.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
        <script src="./plugins/datepicker.js"></script>
    </body>

</html>