        @import"./nav_bar.css";
        @import"./footer.css";
        @font-face {
            font-family: "F1_bold";
            src: url("../font/Formula1-Bold.otf");
            /* src: url("https://alldata.sgp1.digitaloceanspaces.com/fonts/NotoSerifTC/NotoSerifTC-Light.otf"); */
        }
        
        @font-face {
            font-family: "F1_regular";
            src: url("../font/Formula1-Regular.otf");
            /* src: url("https://alldata.sgp1.digitaloceanspaces.com/fonts/NotoSerifTC/NotoSerifTC-Light.otf"); */
        }
        
        #main_header nav.main_nav ul.link_list>li>a.about {
            color: rgb(216, 40, 28);
            text-decoration: underline;
        }
        
        #main_header nav.main_nav ul.link_list>li>a.o_f {
            color: black;
            text-decoration: none;
        }
        
        img.img_flow {
            /* border: 1px solid brown; */
            min-height: 100%;
            width: 100%;
            font-size: 0px;
            /* border: 2px solid red; */
        }
        
        div.pic_container {
            position: relative;
        }
        
        div.pic_container>h1 {
            font-size: 4vw;
            font-family: f1_bold;
            color: white;
            z-index: 1;
            bottom: 20%;
            margin: 0;
            margin-left: 20px;
            position: absolute;
        }
        
        div.goal {
            font-size: 14px;
            height: 250px;
            position: relative;
            width: 100%;
        }
        
        div.goal>h1 {
            font-size: 40px;
            font-family: f1_bold;
            left: 25%;
            margin: 0;
            margin-top: 3%;
            margin-left: 10%;
        }
        
        div.goal>p {
            font-family: 'Arimo', sans-serif;
            line-height: 1.5;
            width: 600px;
            margin-left: 10%;
        }
        
        div.goal img {
            /* display: inline-block; */
            position: absolute;
            right: 20%;
            top: 30%;
            width: 15%;
        }
        
        div.instructors {
            font-size: 16px;
        }
        
        div.instructors>h1 {
            font-size: 30px;
            font-family: f1_bold;
            margin-bottom: 20px;
            text-align: center;
            background: rgb(216, 40, 28);
            color: white;
        }
        
        div.martha {
            position: relative;
            height: 350px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            /* border: 1px solid red; */
            flex-flow: column;
        }
        
        div.martha>h1 {
            font-size: 25px;
            font-family: f1_bold;
            margin-left: 20px;
        }
        
        div.martha>h3 {
            font-family: 'Arimo', sans-serif;
            margin-left: 20px;
        }
        
        div.martha ul.his_list {
            font-family: 'Arimo', sans-serif;
            margin: 0;
            line-height: 1.5;
            padding: 0;
            font-size: 14px;
            padding: 0;
            margin-left: 3%;
            z-index: 1;
        }
        
        div.martha img {
            position: absolute;
            right: 0;
            top: 0;
            width: 25%;
        }
        
        div.stig {
            position: relative;
            height: 300px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            /* border: 1px solid yellow; */
            /* flex-flow: column; */
        }
        
        div.stig>video {
            display: none;
        }
        
        div.stig ul.his_list li:nth-child(1) {
            list-style: none;
            font-family: 'f1_regular';
        }
        
        div.stig ul.his_list li:nth-child(2) {
            list-style: none;
        }
        
        div.stig ul.his_list {
            font-family: 'Arimo', sans-serif;
            margin: 0;
            line-height: 1.5;
            padding: 0;
            font-size: 14px;
            padding-left: 10px;
            position: absolute;
            right: 20%;
        }
        
        div.stig img {
            position: absolute;
            left: 10%;
            top: 0;
        }
        
        div.footer {
            margin-top: 0;
        }
        
        @media (max-width: 1260px) {
            div.goal {
                font-size: 14px;
                height: 250px;
                /* position: relative; */
                width: 100%;
                text-align: center;
                background: hsla(0, 0%, 0%, 0.9);
                color: white;
            }
            div.goal>h1 {
                margin: 0;
                /* margin-top: 20px; */
                margin-bottom: 20px;
            }
            div.goal>p {
                font-family: 'Arimo', sans-serif;
                line-height: 1.5;
                width: 600px;
                margin: 0 !important;
                display: inline-block;
            }
            div.goal img {
                display: none;
            }
        }
        
        @media (max-width: 645px) {
            div.goal {
                font-size: 14px;
                height: 280px;
                /* position: relative; */
                width: 100%;
                text-align: center;
                background: hsla(0, 0%, 0%, 0.9);
                color: white;
            }
            div.goal>p {
                font-family: 'Arimo', sans-serif;
                line-height: 1.5;
                width: 100%;
                margin: 0 !important;
                display: inline-block;
            }
        }
        
        @media (max-width: 1200px) {
            div.martha {
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
                height: 350px;
                background-image: url(../about_pics/abbie_full.jfif);
                background-repeat: no-repeat;
                background-size: cover;
            }
            div.martha ul.his_list {
                width: 70%;
                left: 5%;
            }
            div.martha img {
                display: none;
            }
            div.stig {
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
                height: 350px;
                background-image: url(../about_pics/stigliedownlogo.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            div.stig ul.his_list {
                left: 2%;
                top: 10%;
            }
            div.stig ul.his_list li:nth-child(1) {
                display: none;
            }
            div.stig img {
                display: none;
            }
        }
        
        @media (max-width: 1130px) {
            div.martha {
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
                height: 400px;
                background-image: url(../about_pics/abbie_full.jfif);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
        @media (max-width: 690px) {
            div.martha {
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
                height: 470px;
                background-image: url(../about_pics/abbie_full.jfif);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: all .6s;
            }
            div.martha>h3 {
                margin: 0;
                margin-bottom: 5px;
                margin-left: 18px;
            }
        }
        
        @media (max-width: 430px) {
            div.martha {
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
                height: 520px;
                background-image: url(../about_pics/abbie_full.jfif);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            div.martha>h3 {
                margin: 0;
                margin-bottom: 5px;
                margin-left: 18px;
            }
            div.martha ul.his_list {
                width: 80%;
                left: 5%;
            }
            div.goal {
                font-size: 14px;
                height: 400px;
                /* position: relative; */
                width: 100%;
                text-align: center;
                background: hsla(0, 0%, 0%, 0.9);
                color: white;
            }
        }
        
        @media (max-width: 405px) {
            div.martha {
                color: white;
                text-shadow: black 0.1em 0.1em 0.2em;
                height: 550px;
                background-image: url(../about_pics/abbie_full.jfif);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            div.martha>h3 {
                margin: 0;
                margin-bottom: 5px;
                margin-left: 18px;
            }
            div.martha ul.his_list {
                width: 85%;
                left: 5%;
            }
        }