@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    /* background: black; */
    font-family: 'Orbitron', sans-serif;
}

:root {
    --background: rgba(0, 0, 0, 0.6);
}

div.main_header {
    position: fixed;
    background: rgba(255, 255, 255, 0.89);
    color: rgb(216, 40, 28);
    text-align: center;
    /* height: 100px; */
    width: 100%;
    z-index: 5;
    transition: ease 0.4s;
}



div.main_header_paste {
   position: absolute;
    text-align: center;
    /* height: 100px; */
    width: 100%;
    z-index: 5;
    transition: ease 0.4s;
    top: 0;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    z-index: 100;
    transition: ease 0.4s;
}

.hamburger {
    width: 40px;
    cursor: pointer;
}

.logo>img {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 1em;
    color: white;
    font-size: 18px;
    padding-bottom: 1px;
    padding-top: 1px;
    height: 100%;
    display: flex;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1.logo {
    margin: 0;
}

img.red {
    display: none;
}

.logo-link {
    text-decoration: none;
}

.nav-toggle {
    z-index: -1;
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 40px;
    margin-top: 6px;
    display: flex;
    align-items: center;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: rgba(0, 0, 0, 0.89);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(216, 40, 28);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 0.1s;
}

div.sen {
    position: relative;
    overflow: hidden;
    height: 143.5vw;
    background-color: rgba(0, 0, 0, 0.897);
    /* border: 1px solid rgb(216, 40, 28); */
    
}

h1.just {
    font-family: 'Orbitron', sans-serif;
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 3%;
    color: white;
    text-shadow: 0px 1px 2px #333333;
    text-align: center;
}
h1.race{
    font-family: 'Orbitron', sans-serif;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 15%;
    color: white;
    text-shadow: 0px 1px 2px #333333;
    text-align: center;

}

#senna {
    top: 0;
    position: absolute;
    width: 100%;
}
@media (max-width: 833px){
    div.container{
    display: none;
    }
}
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
    .logo {
        float: left;
        width: 19%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    nav {
        position: relative;
        text-align: right;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        width: 50%;
        float: right;
        padding-top: 30px;
        /* end Edge support stuff */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-right: 1em;
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 0.1s;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }
}

@media (max-width: 500px) {
    nav li:nth-child(1) {
        padding-top: 10px;
    }
}

@media (max-width: 502px) {
    div.container{
        display: block;
        
        }
    .header2{
        display: none;
    }
    div.desktop {
        display: none;
    }
    div.mobile {
        display: block;
    }
    div.main_header {
        display: block;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 1px 2px 4px #333333;
        -webkit-box-shadow: 1px 2px 4px #333333;
        -moz-box-shadow: 1px 2px 4px #333333;
    }
    nav {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 1px 2px 4px #333333;
        -webkit-box-shadow: 1px 2px 4px #333333;
        -moz-box-shadow: 1px 2px 4px #333333;
    }
    img.white {
        display: none;
    }
    img.red {
        display: block;
    }
    line.line-one {
        stroke: rgb(199, 36, 24);
    }
    line.line-two {
        stroke: rgb(216, 40, 28);
    }
    line.line-three {
        stroke: rgb(216, 40, 28);
    }
    nav a {
        color: rgb(216, 40, 28);
    }
    div.sen{
        box-shadow: -1px 6px 9px #333333;
        -webkit-box-shadow: -1px 6px 9px #333333;
        -moz-box-shadow: -1px 6px 9px #333333;
    }

    div.sen>h1{
        text-shadow: 2px 1px 2px #000000;
    }
}

/* owl */

div.catalog{
    background-color: rgba(0, 0, 0, 0.897);
    display: block;
}

div.catalog>h1{
margin: 0 ;
color: white;
font-size: 25px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 10px;
text-shadow: 2px 1px 2px #000000;
}

div.owl-prev,
div.owl-next{
display: none;

}
ul.steps_m{

    list-style: none;
}

div.m_exp {
    height: 700px;
    width: 100%;
    background-image: url(../pictures/ex_bg_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.m_exp>h1{
color: white;
text-align: center;
margin: 0 auto;
padding-top: 60px;
text-shadow: black 0.1em 0.1em 0.2em;
}

div.m_exp>p{
color: white;
font-size: 14px;
text-align: center;
font-weight: 10;
font-family: 'Roboto', sans-serif;
padding-top: 50px;
margin: 10px;
line-height: 1.8;
}

ul.steps_m{
text-align: center;
margin: 0;
padding: 0;
color: white;
font-size: 25px;
text-shadow: black 0.1em 0.1em 0.2em;
padding-top: 50px;
}
span.arrow-bottom {
    border: solid rgb(216, 40, 28);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 7px;
  }

  div.fxxk{
    position: relative;
    border: 1px solid red;
    text-align: right;
  }
  div.fxxk>h1{
    z-index: 1;
    top: 5%;
    position: absolute;
    /* border: 1px solid red; */
    color: white;
    margin: 0;
    font-size: 20px;
    left: 5%;
  }
  div.fxxk>h2{
    z-index: 1;
    top: 12%;
    position: absolute;
    /* border: 1px solid red; */
    color: white;
    margin: 0;
    font-size: 26px;
    left: 10%;
  }

  div.fxxk>p{
   font-size: 14px;
   line-height: 1.5;
   margin: 5px ;
   width: 90%;
   margin: 0 auto;
   margin-top: 15px;
   text-align: center;
   margin-bottom:10px;
   font-family: 'Roboto', sans-serif;
  }

  div.fxxk a.book {
    /* border: 1px solid black; */
    font-size: 5vw;
    font-family: "F1_bold";
    text-decoration: none;
    color: black;
    color: rgb(216, 40, 28);
    text-shadow: black 0.1em 0.1em 0.2em;
    margin:10px;
}

div.fxxk a.book div.arrows {
    display: inline;
    color: rgb(216, 40, 28);
}

  

  
  